<div class="launch">
  <app-window>

  </app-window>
</div>

<nav class="fixed-bottom start-bar d-flex justify-content-between">

  <button class="start-bar_button d-flex align-items-center"
          [class._active]="isStartMenuButtonToggled"
          (click)="toggleStartMenuButton()">
    <img src="assets/images/windows-xp-icon.ico" class="start-bar_button-icon" alt="Image of a windows xp start bar">
    <p class="start-bar_button-text">start</p>
  </button>

  <div class="start-bar_time d-flex justify-content-center align-items-center">
    <p class="start-bar_current-time m-0">{{currentTime | date: 'shortDate'}}</p>
  </div>
</nav>
